/* GLOBAL STYLES   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f6f6f6;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/*  HEADER */

.header {
    background: #e63946;
    padding: 20px 0;
     position: sticky;
  top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.logo span {
    color: #000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
}


nav a:hover {
    color: #000;
}

/* 
   HERO SECTION
 */
.hero {
    background: #e63946;
    color: #fff;
    padding-bottom: 80px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}

.hero-text h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.hero-text span {
    color: #000;
}

.hero-text p {
    margin-bottom: 20px;
    font-size: 16px;
}

.hero-img img {
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
}

/* Buttons */
.btn {
    background: #000;
    color: #fff;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #333;
}

/* 
   BOOKING FORM
 */
.booking-form {
    background: #fff;
    padding: 20px;
    display: flex;
    gap: 15px;
    border-radius: 10px;
    position: relative;
    top: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.booking-form input {
    padding: 10px;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.booking-form button {
    background: #e63946;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.booking-form button:hover {
    background: #c1121f;
}

/* 
   SERVICES SECTION
 */
.services {
    padding: 120px 0 80px;
    text-align: center;
}

.services h2 {
    font-size: 32px;
}

.services h2 span {
    color: #e63946;
}

.service-cards {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.card {
    background: #fff;
    padding: 20px;
    flex: 1;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: 0.3s;
}

/* .card:hover {
    transform: translateY(-10px);
} */

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
    font-weight: bold;
}

.btn-small {
    background: #e63946;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-small:hover {
    background: #c1121f;
}

/* 
   HOW IT WORKS
 */
.works {
    padding: 80px 0;
    background: #fff;
    text-align: center;
}

.works h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.steps {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.step {
    background: #f8f8f8;
    padding: 30px 20px;
    border-radius: 15px;
    flex: 1;
    max-width: 350px;
    transition: 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

/* .step:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
} */

.step .icon {
    font-size: 40px;
    margin-bottom: 15px;
}


.step-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

.step p {
    color: #666;
    font-size: 14px;
}


   /* RESPONSIVE DESIGN */

@media (max-width: 900px) {
    .hero-content,
    .service-cards,
    .steps,
    .booking-form {
        flex-direction: column;
    }

    .hero-img img {
        margin-top: 20px;
    }

    .booking-form {
        top: 20px;
    }
}




/*  FOOTER
 */
.footer {
    background: #111;
    color: #fff;
    padding: 60px 0 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-box {
    flex: 1;
    min-width: 220px;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-logo span {
    color: #e63946;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #e63946;
}

.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-box ul li a {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}

.footer-box ul li a:hover {
    color: #e63946;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 20px;
    font-size: 14px;
    color: #aaa;
}

/* Responsive Footer */
@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        gap: 30px;
    }
}
